.site-header {
    background-color: #81c14b; 
}


.arama-kutusu {
    width: 300px; 
}


.entry-footer strong.text-success {
   color: #81c14b !important; 
}


.logo-img {
    height: 35px; 
    width: auto;  
}